<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mobilpay_cc>
                <model>Monogo\Mobilpay\Model\CreditCard</model>
                <title>Mobilpay Credit</title>
                <active>0</active>
                <mode>sandbox</mode>
                <api_url>https://secure.mobilpay.ro</api_url>
                <api_url_sandbox>http://sandboxsecure.mobilpay.ro</api_url_sandbox>
                <order_status_confirmed>processing</order_status_confirmed>
                <order_status_confirmed_pending>payment_review</order_status_confirmed_pending>
                <order_status_paid>pending_payment</order_status_paid>
                <order_status_paid_pending>pending_payment</order_status_paid_pending>
                <order_status_canceled>canceled</order_status_canceled>
                <order_status_credit>closed</order_status_credit>
                <debug>0</debug>
                <sort_order>100</sort_order>
            </mobilpay_cc>
        </payment>
    </default>
</config>
