<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Monogo\Mobilpay\Model\Config\CreditCardConfig">
        <arguments>
            <argument name="methodCode" xsi:type="string">mobilpay_cc</argument>
        </arguments>
    </type>
</config>
