<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="mobilpay_cc" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mobilpay Credit</label>

                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field>

                <field id="signature_id" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Signature ID</label>
                </field>

                <field id="sandbox_mode" translate="label" sortOrder="30" type="select" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sandbox Mode</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\Mode</source_model>
                </field>

                <field id="api_url" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Url</label>
                </field>

                <field id="api_url_sandbox" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Sandbox Url</label>
                </field>

                <field id="order_status_confirmed" translate="label" sortOrder="60" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Payed / Confirmed</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\OrderStatus</source_model>
                    <comment>Order status when response action is confirmed.</comment>
                </field>

                <field id="order_status_confirmed_pending" translate="label" sortOrder="61" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pending verification</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\OrderStatus</source_model>
                    <comment>Order status when response action is confirmed pending.</comment>
                </field>

                <field id="order_status_paid" translate="label" sortOrder="62" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Open</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\OrderStatus</source_model>
                    <comment>Order status when response action is paid.</comment>
                </field>

                <field id="order_status_paid_pending" translate="label" sortOrder="63" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Pending</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\OrderStatus</source_model>
                    <comment>Order status when response action is paid pending.</comment>
                </field>

                <field id="order_status_canceled" translate="label" sortOrder="64" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Canceled</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\OrderStatus</source_model>
                    <comment>Order status when response action is canceled.</comment>
                </field>

                <field id="order_status_credit" translate="label" sortOrder="65" type="select" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Credited / Refunded</label>
                    <source_model>Monogo\Mobilpay\Model\Config\Source\Credit\OrderStatus</source_model>
                    <comment>Order status when response action is credit.</comment>
                </field>

                <field id="description" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shopping Cart Description</label>
                </field>

                <field id="allowspecific" translate="label" type="allowspecific" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment From Applicable Countries</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>

                <field id="specificcountry" translate="label" type="multiselect" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Payment From Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>

                <field id="debug" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
